.my-header {
    .my-nav {
        max-height: 45px;
        box-shadow: unset;
        nav.navbar.navbar-dark.fixed-top.navbar-expand-md.scrolling-navbar.my-nav {
            li.nav-item {
                font-size: 1.1rem;
            }
        }
    }
}
ul.navbar-nav.ml-auto span li a {
    font-weight: 500;
}
ul.navbar-nav.ml-auto span li a i {
    margin-right: 5px;
}